.nav {
	height:65px;
	padding: 20px;
	background-color:#615D50;
}
.nav a {
  color: #E5E5E5;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 20px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
	height:500px;
}

.About {
	height: 500px;
}

.thumbnail{
	background-color:  #E5E5E5;
}
.home-thumbnail {
	height: 300px;
	background-color:  #E5E5E5;
}

.learn-more {
	height: 300px;
}

.footer {
	height:65px;
	padding: 20px;
	background-color:#615D50;
	}

.footer a {
  color: #E5E5E5;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 20px;
  text-transform: uppercase;
}

.footer li {
  display: inline;
}

.heading {
	height: 200px;
	width: 60%;
	padding: 50px;
	margin: auto;
}
.inputs {
	height: 300px;
	width: 60%;
	padding: 50px;
	margin: auto;
}

.sign-up {
	height:150px;
}

.benefits{
	height:191px;
}

.user-info {
	height: 400px;
	padding: 30px;
}

.user-info .thumbnail {
	height: 300px;
}

.designs{
	height:700px;
}

.designs .thumbnail {
	height: 240px;
	background-color: #181242
}

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

.design-search .search-type {
	height: 100px;
	padding: 30px;
}

.design-search .row {
	height: 650px;
}

.design-search .thumbnail {
	height: 240px;
	background-color: #181242
}

.creator-app .thumbnail {
	height: 600px;
}

.creator-app .toolbox {
	height: 200px;
	margin-bottom: 30px;
	border: 1px solid #E5E5E5;
	
}

.creator-app .model-info {
	height: 200px;
	margin-bottom: 30px;
	border: 1px solid #E5E5E5;
	
}

.project-display .thumbnail {
	height: 600px;
	padding: 20px;
	margin-top: 20px;
}

.project-display .info{
	height: 200px;
	border: 1px solid #E5E5E5;
	padding: 20px;
}

.project-display .materials{
	border: 1px solid #E5E5E5;
	padding: 20px;
	margin-bottom: 30px
}

